/* Variables */

/* Primary Color*/
$dark-blue: hsl(240, 38%, 20%);
$grayish-blue: hsl(240, 18%, 77%);


// Reset proprieties 
*, ::before, ::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;  
    min-height: 100vh;    
    font-family: "Inter", sans-serif;
}


.container {
    max-width: 375px;

     
    .content {
        
        .top-content {            
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: relative;

            .background-card {
                width: 375px;
                height: 375px;
                background-image: url("./images/pattern-bg.svg"); /* The image used */ 
                background-position: center; /* Center the image */
                background-repeat: no-repeat; /* Do not repeat the image */
                background-size: contain; /* Resize the background image to cover the entire container */
            }
    
            .card-element {
                position: absolute;
                
                .image-container {
                    position: relative;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;
                    width: 78%;
                    top: 0.16rem;
                    left: 12%;                

                    .person {
                        animation: fade-in-image 2s ease-in forwards;
                        border-radius: 10px 10px 10px 10px;
                        width: 100%;
                    }
    
                    @keyframes fade-in-image {
                        0% {
                            opacity: 0;
                            transform: translateX(35%)
                        } 
                        100% {
                            opacity: 1;
                            transform: translateX(0)
                        }
                    }

                }
    
                .button-container {
                    display: flex;
                    position: absolute;
                    top: 97%;
                    left: 40%;
                    border-radius: 50%;
                    box-shadow: 3px 10px 36px -13px rgba(0,0,0,0.75);
                    
                    button {
                        border: none; 
                        outline: none;
                        padding: .8rem 1rem;                
                        background-color: #fff;
                        margin: 0;
                        cursor: pointer;               
                    }
        
                    button:hover {
                        background-color: #333;
                    }
        
                    .previous-button {
                        border-radius: 40% 0 0 40%;
                    }
        
                    .next-button {
                        border-radius: 0% 40% 40% 0%;
                    }
                }      
            
            }
        }
        

        .text-container {
            margin-top: 2rem;
            position: relative;
            text-align: center;        
            padding: 1.3rem;            
            font-weight: 300;
            color: $dark-blue;
    
            .quotes-image {
                position: absolute;
                top:0%;
                left: 34%;
    
                .the-quote {
                    width: 50%;
                }    
            }
    
            .comment {
                font-size: 1.2rem;
                color: $dark-blue;
                font-weight: 300;  
                animation: fade-in-anim 2s ease-in forwards;         
            }   
    
            .name {
                margin-top: 1rem;
                font-weight: 700;
                color: $dark-blue;
                animation: fade-in-anim 2s ease-in forwards;
            }
    
            .profession {
                font-weight: 500;
                color: $grayish-blue;
                animation: fade-in-anim 2s ease-in forwards;
            }

            @keyframes fade-in-anim {
                0% {
                    opacity: 0;
                    transform: translateX(-35%)
                } 
                100% {
                    opacity: 1;
                    transform: translateX(0)
                }
            }
        }

    }

    .btm-corner-img {
        width: 100%;
    }
}

@media (min-width: 720px){
    .container {
       max-width: 1250px;

        /* Bottom corner image */
        .btm-corner-img {
            position: absolute;
            width: 530px;           
        }

        .content {
            padding: 1rem;
            display: flex;
            justify-content: end;
            align-items: center;

            .top-content {
                order: 2;

                .background-card {
                    width: 530px;
                    height: 530px;                    
                }
    
                .card-element {
                    .button-container {
                        display: flex;
                        position: absolute;
                        top: 95%;
                        left: 20%;
                        border-radius: 80%;

                        .previous-button {
                            border-radius: 2rem 0 0 2rem;
                        }

                        .next-button {
                            padding-right: 1rem;
                            border-radius: 0 2rem 2rem 0;
                        }
                    }                
                }
            }
           

            .order-text {
                order: 1;                
                .quotes-image {
                    position: absolute;
                    top: -13%;
                    left: 17%;
        
                    .the-quote {
                        width: 90%;
                    }    
            }
                .comment {
                    text-align: left;
                    font-size: 2rem;
                }

                .information {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    margin-top: 2rem;

                    .name {
                        margin: 0 1rem 0 0;                        
                    }
                }
            }
        }
    }
}