/* Variables */
/* Primary Color*/
*, ::before, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 375px;
}
.container .content .top-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.container .content .top-content .background-card {
  width: 375px;
  height: 375px;
  background-image: url("./images/pattern-bg.svg"); /* The image used */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain; /* Resize the background image to cover the entire container */
}
.container .content .top-content .card-element {
  position: absolute;
}
.container .content .top-content .card-element .image-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 78%;
  top: 0.16rem;
  left: 12%;
}
.container .content .top-content .card-element .image-container .person {
  animation: fade-in-image 2s ease-in forwards;
  border-radius: 10px 10px 10px 10px;
  width: 100%;
}
@keyframes fade-in-image {
  0% {
    opacity: 0;
    transform: translateX(35%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.container .content .top-content .card-element .button-container {
  display: flex;
  position: absolute;
  top: 97%;
  left: 40%;
  border-radius: 50%;
  box-shadow: 3px 10px 36px -13px rgba(0, 0, 0, 0.75);
}
.container .content .top-content .card-element .button-container button {
  border: none;
  outline: none;
  padding: 0.8rem 1rem;
  background-color: #fff;
  margin: 0;
  cursor: pointer;
}
.container .content .top-content .card-element .button-container button:hover {
  background-color: #333;
}
.container .content .top-content .card-element .button-container .previous-button {
  border-radius: 40% 0 0 40%;
}
.container .content .top-content .card-element .button-container .next-button {
  border-radius: 0% 40% 40% 0%;
}
.container .content .text-container {
  margin-top: 2rem;
  position: relative;
  text-align: center;
  padding: 1.3rem;
  font-weight: 300;
  color: hsl(240, 38%, 20%);
}
.container .content .text-container .quotes-image {
  position: absolute;
  top: 0%;
  left: 34%;
}
.container .content .text-container .quotes-image .the-quote {
  width: 50%;
}
.container .content .text-container .comment {
  font-size: 1.2rem;
  color: hsl(240, 38%, 20%);
  font-weight: 300;
  animation: fade-in-anim 2s ease-in forwards;
}
.container .content .text-container .name {
  margin-top: 1rem;
  font-weight: 700;
  color: hsl(240, 38%, 20%);
  animation: fade-in-anim 2s ease-in forwards;
}
.container .content .text-container .profession {
  font-weight: 500;
  color: hsl(240, 18%, 77%);
  animation: fade-in-anim 2s ease-in forwards;
}
@keyframes fade-in-anim {
  0% {
    opacity: 0;
    transform: translateX(-35%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.container .btm-corner-img {
  width: 100%;
}

@media (min-width: 720px) {
  .container {
    max-width: 1250px;
    /* Bottom corner image */
  }
  .container .btm-corner-img {
    position: absolute;
    width: 530px;
  }
  .container .content {
    padding: 1rem;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .container .content .top-content {
    order: 2;
  }
  .container .content .top-content .background-card {
    width: 530px;
    height: 530px;
  }
  .container .content .top-content .card-element .button-container {
    display: flex;
    position: absolute;
    top: 95%;
    left: 20%;
    border-radius: 80%;
  }
  .container .content .top-content .card-element .button-container .previous-button {
    border-radius: 2rem 0 0 2rem;
  }
  .container .content .top-content .card-element .button-container .next-button {
    padding-right: 1rem;
    border-radius: 0 2rem 2rem 0;
  }
  .container .content .order-text {
    order: 1;
  }
  .container .content .order-text .quotes-image {
    position: absolute;
    top: -13%;
    left: 17%;
  }
  .container .content .order-text .quotes-image .the-quote {
    width: 90%;
  }
  .container .content .order-text .comment {
    text-align: left;
    font-size: 2rem;
  }
  .container .content .order-text .information {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 2rem;
  }
  .container .content .order-text .information .name {
    margin: 0 1rem 0 0;
  }
}/*# sourceMappingURL=style.css.map */